body {
    margin: 0;
    padding: 0;
}

.geral {
    display: flex;
    background-color: #647ea0;
}


.grafico-container {

    height: 300px;
    width: 300px;
    display: flex;
  justify-content: center;
  align-items: center;

}

.hello {

    align-self: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-left h3 {

    margin-left: 80px;
    margin-top: 40px;
    margin-right: 80px;
    border: 1px solid ;
    border-radius: 12px;
    background-color: white;

}



h3 {

    font-size: 20px;  
    text-align: center;
    color: #647ea0;


}

.header-left h1 {

    width: 100%;
    margin-top: 70px;
    color: black;
    text-align: center;
    font-size: 25px;

}

.header-left {
    
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color:  #feeec6;
    margin: auto;
}


.kpis {

  

    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 30px;
}



.metrica1,
.metrica2 {

    width: 220px;
    height: 100px;

    border: 2px solid black;
}


.dash {

    width: 100%;
    padding: 20px;

    display: flex;
   flex-direction: column;
    align-items: center;
}

.graficos {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}

.grafico1 {
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
    margin-left: 5%;
    padding: 20px;
    margin-top: 100px;
    background-color: white;

}

.grafico2 {
    border: solid black 2px;
    border-radius: 20px;
    background-color: white;
    margin-left: 15%;
    padding: 20px;
    margin-top: -50px;
}


.titulo-grafico {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-family: 'Telegraf', sans-serif;
    font-size: 18px;
   
    
}

.titulo-grafico2 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-family: 'Telegraf', sans-serif;
    font-size: 18px;
    text-align: center;
    
}

.grafico2-container {
    width: 400px;
    height: 200px;
}


.fraseGrafico1 {
    margin-top: 20px;
    text-align: center;
    border: solid #feeec6 5px;
    border-radius: 10px;
    background-color: #feeec6;
    
}

.frase {
    color: black;
}

.link-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-checklist {
    background-color: #647ea0;
    width: 200px;
    border: solid #647ea0 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: auto;


}

