body {
    margin: 0;
    padding: 0;
}

.geral {
    display: flex;
    background-color: #647ea0;
}


.grafico-container {

    height: 300px;
    width: 300px;
    display: flex;
  justify-content: center;
  align-items: center;

}

.hello {

    align-self: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-left h3 {
    position: relative;
    top: 40px;
    left: 10px;
    border: 1px solid;
    border-radius: 12px;
    background-color: white;

}



h3 {
    font-size: 20px;
    text-align: center;
    width: 200px;
    color: #647ea0;

}

.header-left h1 {

    width: 100%;
    margin-top: 70px;
    color: black;
    text-align: center;
    font-size: 25px;

}

.header-left {
    
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    background-color:  #feeec6;
    margin: auto;
}


.kpis {

  
margin-top: 20px;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 120px;
    padding-right: 50px;
}



.metrica1,
.metrica2 {

    width: 220px;
    height: 100px;

    border: 2px solid black;
}


.dash {

    width: 100%;
    padding: 20px;

    display: flex;
   flex-direction: column;
    align-items: center;
}

.graficos {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}

.grafico1 {
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    background-color: white;
    margin-left: 5%;
    padding: 20px;
    margin-top: 150px;
    

}

.grafico2 {
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    background-color: white;
    margin-left: 15%;
    padding: 20px;
    margin-top: 80px;
}


.titulo-grafico {
    margin-top: 8px;
    margin-left: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   
   
    
}

.titulo-grafico2 {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

    
}

.grafico2-container {
    width: 400px;
    height: 200px;
}


.fraseGraficos {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    text-align: center;
    border: solid #feeec6 10px;
    border-radius: 15px;
    background-color: #feeec6;
    
}

.frase {
    font-size: 30px;
    color: black;
}

.link-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-checklist {
    background-color: #647ea0;
    width: 200px;
    border: solid #647ea0 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 40px;
    margin-left: 15px;

}

.metrica1 {
    position: relative;
    top: 30px;
    left: 50px;
    width: 30%;
    height: 110%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    border: none;
    display: flex;
    flex-direction: row;
    
}



.metrica1 p{
    position: relative;
    left: 60px;
    top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.metrica1 span{
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.icon-genero {
    margin-top: 20px;
    margin-left: 10px;
}

.metrica2 {
    position: relative;
    top: 30px;
    left: 20px;
    width: 30%;
    height: 110%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    border: none;
    display: flex;
    flex-direction: row;
}

.metrica2 p{
    position: relative;
    left: 60px;
    top: 10px;
    font-family: 'Telegraf', sans-serif;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.metrica2 span{
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.icon-pagina {
    position: relative;
    top: 20px;
    left: 10px;
}



