@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #feeec6;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}


.header {
    background-color:#feeec6;
    display: flex;
    justify-content: space-between;
   
  
}

.header .logo {
    display: flex;
    align-items: flex-end;
    margin: 0;
    position: absolute;
    top: 18px;
    padding-left: 25px;
    
    /* espaço entre a imagem e o h2  gap=10px*/
}

.header .rotas {
    display: flex;
    gap: 80px;
    margin-right: 60px;
    font-size: 20px;
}

.header .rotas a {
    text-decoration: none;
    color: #efebdf;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
  
}

.header a {
  height: 100%;
  align-self: center;
  text-decoration: none;
  color: #647ea0;

}


.navbar {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  list-style: none;
  font-size: 25px;
  height: 100%;
  text-decoration: underline;
  color: #647ea0;

  
}

.titulo {
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url(../assets/imgs/background.png);
  background-size: cover;

}

.banner .container {
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.banner .container p {
  font-size: 80px;
  
}


.texto {
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0;
}

.subtitulo {
    margin: 0;
}

.RoryPng {
  margin-left: 140px;
}

.main {
  background-color: #647ea0;
}

.main .text {
    display: flex;
    align-items: center;
    text-align: center;
    color:  white;
    font-size: 30px;
    justify-content: center;
    padding: 10px;

}
/* MISSÃO VISÃO VALORES */

.social1 {

  background-image: url(../assets/imgs/background-video.png);
  background-size: cover;
  padding: 100px;

}

.bloco2 {
    display: flex;
    padding: 60px;
    background-color: #647ea0;

}



.social2 {
 background-image: url(../assets/imgs/background-video.png);
  background-size: cover;
  padding: 100px;

}

.bloco3 {
    display: flex;
    padding: 60px;
    background-color: #647ea0;

}

.social3 {
  display: flex;
  justify-content: center;
  background-image: url(../assets/imgs/background-video.png);
  background-size: cover;

  padding: 100px;

}

.bloco4 {
    display: flex;
    padding: 60px;
    background-color: #647ea0;

}

.social4 {
  display: flex;
  justify-content: center;
  background-image: url(../assets/imgs/background.png);
  background-size: cover;
  padding: 60px;

}

video {

  width: 600px;
  display: block;
  margin-left: 200px;
  border-radius: 20px;
  
}


h4 {
 font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box1 img {
  height: 100px;
  width: 130px;
  margin-left: 60px;

}

.imagem img {
  display: flex;
  width: 30px;
  height: 60px;

}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.box1 h4{
  background-color:  #737373;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.box2 h4{
  background-color:  #737373;
  width: 400px;
  height: 200px;
  border-radius: 20px;

}

.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.box3 h4{
  background-color:  #737373;
  width: 600px;
  height: 300px;
  border-radius: 30px;


}

.box4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box4 h4{
  background-color:  #737373;
  width: 600px;
  height: 300px;
  border-radius: 30px;
  display: block;

}

.box4 img {
  display: flex;
  margin-right: 100px;
  margin-top: 10px;

}

.box4 a{
  display: inline;
}

.button {
  color: #647ea0;
  font-weight: bold;
 
}


/* FOOTER */

.footer {
  background-color:#647ea0;
  height: 1px;
  display: flex;
  font-size: 15px;

}

.footer h4 {
    color: black;

}

.footer .container {
  justify-content: center;
  text-align: center;

}


/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url(../assets/imgs/background.png);
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  flex-direction: column;
  height: 400px;
  width: 400px;
  padding: 30px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  gap: 20px;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
  
}

.formulario input {
  border: 2px solid gray;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid gray;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.card-cadastro{
  width: 50%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  flex-direction: column;
  height: 500px;
  width: 450px;
  padding: 30px 0;
}

.formulario-cadastrar {
  display: flex;
  height: 130%;
  width: 90%;
  gap: 20px;
  flex-direction: column;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: #feeec6;
  width: 300px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
}

.button-cadastrar {
  margin-top: 2px;

}

.button-cadastrar h4 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

}

.button-cadastrar .button {
  color: #647ea0;
 
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #647ea0 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid gray;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* DESCRICAO */

.descricao .banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricao .banner .container h2 {
  display: flex;
  justify-content:center;
  margin-top: 90px;
  text-decoration: underline;
  color: #feeec6;
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.descricao .banner .container p {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;

}



/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}